---
language: python
python: "2.7"

# Use the new container infrastructure
sudo: false

# Install ansible
addons:
  apt:
    packages:
      - python-pip

install:
  # Install ansible
  - pip install ansible

  # Check ansible version
  - ansible --version

  # Create ansible.cfg with correct roles_path
  - printf '[defaults]\nroles_path=../\nstdout_callback=debug\nfilter_plugins=./filter_plugins' >ansible.cfg

  # Install network-engine
  - ansible-galaxy install ansible-network.network-engine

script:
  # Basic role syntax check
  - ansible-playbook tests/test.yaml -i tests/inventory

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
