crypto isakmp policy 200
  encryption aes 128
  authentication pre-share
  group 2
  lifetime 28800
  hash sha
exit

crypto keyring {{ cloud_vpn_name }}-0
  local-address {{ cloud_vpn_initiator_outside_interface }}
  pre-shared-key address {{ cloud_vpn_responder_public_ip }} key {{ cloud_vpn_psk }}
exit

crypto isakmp profile {{ cloud_vpn_name }}-0
  local-address {{ cloud_vpn_initiator_outside_interface }}
  match identity address {{ cloud_vpn_responder_public_ip }}
  keyring {{ cloud_vpn_name }}-0
exit

crypto ipsec transform-set {{ cloud_vpn_name }}-0 esp-aes 128 esp-sha-hmac
  mode tunnel
exit

crypto ipsec profile {{ cloud_vpn_name }}-0
  set pfs group2
  set security-association lifetime seconds 3600
  set transform-set {{ cloud_vpn_name }}-0
exit

crypto ipsec df-bit clear

crypto isakmp keepalive 10 10 on-demand

crypto ipsec security-association replay window-size 128

crypto ipsec fragmentation before-encryption

interface Tunnel1
  ip address {{ cloud_vpn_initiator_tunnel_ip }} 255.255.255.252
  ip virtual-reassembly
  tunnel source {{ cloud_vpn_initiator_outside_interface }}
  tunnel destination {{ cloud_vpn_responder_public_ip }}
  tunnel mode ipsec ipv4
  tunnel protection ipsec profile {{ cloud_vpn_name }}-0
  ! This option causes the router to reduce the Maximum Segment Size of
  ! TCP packets to prevent packet fragmentation.
  ip tcp adjust-mss 1379
  no shutdown
exit

ip sla 100
   icmp-echo {{ cloud_vpn_responder_tunnel_ip }} source-interface Tunnel1
   timeout 5000
   frequency 5
exit
ip sla schedule 100  life forever start-time now
track 100 ip sla 100 reachability

router bgp {{ cloud_vpn_initiator_bgp_asn }}
   neighbor {{ cloud_vpn_responder_tunnel_ip }} remote-as {{ cloud_vpn_responder_bgp_asn }}
   neighbor {{ cloud_vpn_responder_tunnel_ip }} activate
   neighbor {{ cloud_vpn_responder_tunnel_ip }} timers 10 30 30
   address-family ipv4 unicast
      neighbor {{ cloud_vpn_responder_tunnel_ip }} remote-as {{ cloud_vpn_responder_bgp_asn }}
      neighbor {{ cloud_vpn_responder_tunnel_ip }} timers 10 30 30
      neighbor {{ cloud_vpn_responder_tunnel_ip }} default-originate
      neighbor {{ cloud_vpn_responder_tunnel_ip }} activate
      neighbor {{ cloud_vpn_responder_tunnel_ip }} soft-reconfiguration inbound
      network 0.0.0.0
   exit
exit
